$headerFont: jost;

$theme-colors: (
  "primary": #273796,
  "secondary": #026bb6
);

@import "node_modules/bootstrap/scss/bootstrap";


@font-face{
    font-family: 'jost';
    src: url(fonts/jost/static/Jost-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: 'jost';
    src: url(fonts/jost/static/Jost-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}
@import "responsive-view";

body {
    opacity: 1;
    transition: 0.7s opacity;
}
  
body.fade {
    opacity: 0;
    transition: none;
}
hr{
    margin: 30px;
}
h1, h2, h3, h4, h5, h6{
    font-family: $headerFont;
    font-weight: 700;
}
.navbar-brand{
    font-family: $headerFont;
    font-weight: 700;
    font-size: 24px;
}
.navbar-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav-item{
    font-family: $headerFont;
    font-weight: 400;
    margin-right: 10px;
}

p, a, ol, ul, li, small, figcaption,.btn, .alert{
    font-family: $headerFont;
    font-weight: 400;
}
.compensate-nav{
    margin-top: 75px;
}
.home-bigsection{
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    h1, p{
        color: white;
    }
}
.home-section{
    h1 {
        margin-bottom: 20px;
    }
    .btn{
        margin: 10px;
        margin-left: 0px;
    }
    li{
        margin-bottom: 25px;
    }
}
#home-header{
    background-color: #7c7c7c;
    background-image: url(img/headerimg.jpg);
    background-position: center;
}
#product-header{
    background-color: #7c7c7c;
    background-image: url(img/products/training1-1.png);
    background-position: center;
}
#it-solutions-header{
    background-color: #7c7c7c;
    background-image: url(img/products/engineering3.jpg);
    background-position: center;
}
#service-header{
    background-color: #7c7c7c;
    background-image: url(img/products/training2.png);
    background-position: center;
}
#about-header{
    background-color: #7c7c7c;
    background-image: url(img/office1.png);
    background-position: top;
}
#partner-header{
    background-color: #7c7c7c;
    background-image: url(img/airport-tech1.png);
    background-position: center;
}
#contact-header{
    background-color: #7c7c7c;
    background-image: url(img/tower3-1.png);
    background-position: center;
}
#home-services, #home-testimonial, #home-contact{
    background-repeat: no-repeat;
    background-size: cover;
}
#home-testimonial{
    background-position: center;
    background-color: #5a5a5a;
    background-blend-mode: multiply;
    h1, h2, h3, h4, h5, h6, p{
        color: white;
    }
    p{
        margin-bottom: 50px;
    }
}
#home-contact{
    text-align: center;
    background-color: #7c7c7c;
    background-blend-mode: multiply;
    background-position: center;
    background-image: url(img/hangar.jpg);
    h1, h2, h3, h4, h5, h6, p{
        color: white;
    }
    p{
        margin-bottom: 50px;
    }
}
.div-center{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.footer-container{
    padding: 50px;
    text-align: center;
}
.footer-logo{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
#about-carousel{
    background-color: #5a5a5a;
}
.about-carousel-img{
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-carousel-img1{
    background-image: url(img/airport-tech.jpg);
}
#about-carousel-img2{
    background-image: url(img/engineer.jpg);
}
#about-carousel-img3{
    background-image: url(img/tower2-1.png);
}
#about-carousel-img4{
    background-image: url(img/training.png);
}
#about-carousel-img5{
    background-image: url(img/tower3-1.png);
}
.service-element{
    margin: 10px;
    img{
        height: 300px;
        width: auto;
        object-fit: cover;
        mix-blend-mode: multiply;
        border-radius: 4px;
    }
}
.service-list{
    li{
        margin-top: 15px;
    }
}
.partner-card{
    margin: 7px;
    width: 100%;
}
.partner-grid{
    .col{
        margin-top: 50px;
        border-color: lightgray;
    }
}