$headerFont: jost;

$theme-colors: (
  "primary": #273796,
  "secondary": #026bb6
);

@import "node_modules/bootstrap/scss/bootstrap";


@font-face{
    font-family: 'jost';
    src: url(fonts/jost/static/Jost-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: 'jost';
    src: url(fonts/jost/static/Jost-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}
@import "responsive-view";

body {
    opacity: 1;
    transition: 0.7s opacity;
}
  
body.fade {
    opacity: 0;
    transition: none;
}
hr{
    margin: 30px;
}
h1, h2, h3, h4, h5, h6{
    font-family: $headerFont;
    font-weight: 700;
}
.navbar-brand{
    font-family: $headerFont;
    font-weight: 700;
    font-size: 24px;
}
.navbar-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav-item{
    font-family: $headerFont;
    font-weight: 400;
    margin-right: 10px;
}

p, a, ol, ul, li, small, figcaption,.btn{
    font-family: $headerFont;
    font-weight: 400;
}
.home-bigsection{
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    h1, p{
        color: white;
    }
}
.home-section{
    h1 {
        margin-bottom: 20px;
    }
    button{
        margin: 10px;
    }
}
#home-header{
    background-color: #5a5a5a;
    background-image: url(img/tower1-crop.png);
}
#home-services, #home-testimonial, #home-contact{
    background-repeat: no-repeat;
    background-size: cover;
}
#home-testimonial{
    background-position: center;
    background-color: #5a5a5a;
    background-blend-mode: multiply;
    h1, h2, h3, h4, h5, h6, p{
        color: white;
    }
    p{
        margin-bottom: 50px;
    }
}
#home-contact{
    text-align: center;
    background-color: #5a5a5a;
    background-blend-mode: multiply;
    background-position: center;
    background-image: url(img/hangar.jpg);
    h1, h2, h3, h4, h5, h6, p{
        color: white;
    }
    p{
        margin-bottom: 50px;
    }
}
.div-center{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.footer-container{
    padding: 50px;
    text-align: center;
}
.footer-logo{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}